/* .Products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-top: 3%;
    margin-bottom: 40px;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    font-family: 'Baloo Chettan 2';
    background: #fff;
    color: #000;
    font-size: 0.9rem;
    line-height: 1.5;
    padding-top: 5%;
    padding-bottom: 5%;
    text-decoration: none;
    list-style: none;
}

.Products img {
    width: 100%;
    margin-bottom: 20px;
    height: 280px;
}
  
.Products h3 {
    margin-bottom: 5px;
} */

.Link {
    display: inline-block;
    padding-top: 10px;
    color: rgb(32, 77, 160);
    text-transform: uppercase;
    font-weight: bold;
}
  
.Link:hover i {
    margin-left: 10px;
}